*{
    padding: 0;
    margin: 0;
    border: 0;
}
*,*::before,*::after{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,button,textarea{font-family: inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: circle;}
img{vertical-align: top;}
h1, h2, h3, h4, h5, h6{font-size: inherit;font-weight: 400;}


h1{
    font-size: 40px;
    color:black;
    text-align: center;
}

.form{
    padding: 5px;
    border-radius: 7px;
    display: inline-block;
    border-style: solid;
    border-color: blue;
    border-width: 3px;
    margin-left: 30px;
}

.in{
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    width: 200px;
    height: 30px;
    padding: 0.375rem 0.75rem;
    color: green;
    border-radius: 7px;
    box-shadow: 0px 0px 5px black;
}

button{
    box-shadow: 0px 0px 5px black;
    width: 100px;
    height: 25px;
    padding: auto;
    border-radius: 7px;
}

.vopros{
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    margin-left: 30px;
    margin-top: 20px;
    text-decoration: underline;
}

select{
    margin-left: 30px;
    background-color: rgb(160, 160, 106);
    border-radius: 2px;
}

ul{
    margin-top: auto;
    margin-left: 50px;
    font-size: 20px;
    color: rgb(40, 44, 131);
}

table{
    width: 200px;
    background: white;
    color: white;
    border-spacing: 1px;
    margin-left: 30px;
}

td, th {
    background: rgb(196, 136, 136);
    padding: 5px;
    border-radius: 5px;
}

a{
    font-size: 20px;
    text-decoration: none;
    margin-left: 30px;
    margin-top: 10px;
    color: blue;
}

a:hover{
    color: red;
}

a:active{
    color: gray;
}